{% extends 'base.html' %}
{% load static %}



{% block body %}
  <link rel="stylesheet" type="text/css" href="{% static 'substitution_app/css/creative.css' %}" />

  <header class="resultshead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Désolé</strong>
          </h1>
          <h2 class="text-uppercase">
            <strong>Nous n'avons pas trouvé de substitution pour :</strong>
          </h2>
          <hr>
          <h1 class="text-uppercase">
          <a href="{% url 'product display' apiQuery.code %}">
            <img class="img-responsive" src="{{ apiQuery.image_small_url }}" alt="{{ apiQuery.product_name_fr }}">
          </a>
          </h1>
          <strong>{{ apiQuery.product_name_fr }}</strong>
        </div>
      </div>
    </div>
  </header>

{% endblock %}
